* {
    box-sizing: border-box;
}
body {
    background-color: darkseagreen;
}
main {
    width: 70%;
    margin: 10px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "h h"
    "a n"
    "f f";
}
.box {
    background-color: aqua;
}
header {
    grid-area:h;
    background-image: url(wallpaper.jpg);
    padding-top: 25%;
    padding-left: 20px;
    color: aqua;
}
article {
    grid-area:a;
    height: 50vh;
}
nav {
    grid-area:n;
}
footer {
    grid-area:f;
}
fieldset {
    margin: 10px;
    padding: 10px;
    border: 3px solid teal;
}
legend {
    width: 30%;
    background-color: aquamarine;
}
#kuldes {
    text-align: center;
}
#kuldes input{
    box-shadow: 1px 1px 3px 3px;
}
@media all and (max-width: 1000px) {
    main {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "h h"
        "n a"
        "f f";
    }
    
}
@media all and (max-width: 600px) {
    main {
        grid-template-columns:1fr;
        grid-template-areas: "h"
        "n"
        "a"
        "f";
    }
    .box {
        background-color: gray;
    }
    
}